---
---

@import "minima";

// body{
//     background-color: coral;
// }
// h1 {
//     color: cornflowerblue;
// }
// h2{
//     color: darkgreen;
// }
// p {
//     color: rgb(122, 233, 128);
// }


/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Body */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px/1.5;
    font-weight: 400;
    background-color: #FFFFFF;

    /* background-color: #FFFFFF;
    background-image:linear-gradient(#FFFFFF, #f0fff0 ); */



    margin: auto;
    text-align: left;
    color: #111;


    -webkit-text-size-adjust: 100%; 
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1; 
    -o-font-feature-settings: "kern" 1; 
    font-feature-settings: "kern" 1; 
    font-kerning: normal; 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;

}

/** Basic styling */
/* body { font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: #111; background-color: #fdfdfd; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; } */

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px;
line-height: 2rem;
}

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Links */
a { color: #111; text-decoration: none; }

a:visited { color: #111; }

a:hover { color: #111; text-decoration: underline; }

button { font-size: 100%; font-family: inherit; border: 0; padding: 0; cursor: pointer; background-color: transparent;}

button:focus{outline: none;}

mark{ background-color:#52daa6; padding:3px;}


/** Site header */

.site-header { position: relative; display: flex; flex-direction: row; justify-content: space-between; align-items: center; z-index: 100; border-bottom: 1px solid #EFEFEF; min-height: 55.95px; position: relative; padding: 1rem 1.5rem; box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.1) }

.icon_logo{width: 40px; margin-right: 10px;}

.first-header-sec{ position: relative; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}

.site-title { font-size: 24px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-title, .site-title:visited { color: #424242; }

.site-title:hover{color: #111; text-decoration: none;}

.site-nav { float: right; line-height: 54px; }

.site-nav .nav-trigger { display: none;}

.site-nav .menu-icon { display: none; }

.site-nav .page-link { color: #111; line-height: 1.5;}

.site-nav .page-link:not(:last-child) { margin-right: 20px; }

.site-nav a:hover{color: #0BA687; text-decoration: none;}

@media screen and (max-width: 900px) { .site-nav { position: absolute; top: 25px; right: 15px; background-color: #FFFFFF; border: 1px solid #FFFFFF; border-radius: 5px; text-align: right; } .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; } .site-nav .menu-icon > svg { fill: #424242; } .site-nav input ~ .trigger { clear: both; display: none; } .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; } .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/* ************************************************************* */

/* Code of Conduct Side Menu */

.coc_page_section { position: relative; display: flex; flex-direction: row;}

/* ********************************** */
.container_coc { 
    max-width: 1000px;
    max-width: -webkit-calc(1000px - (30px * 2)); 
    max-width: calc(1000px - (30px * 2)); 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 30px; 
    padding-left: 30px; }
    
@media screen and (max-width: 800px) { 
    .container_coc { 
    max-width: -webkit-calc(800px - (30px)); 
    max-width: calc(800px - (30px)); 
    padding-right: 15px; 
    padding-left: 15px; } }


/* ********************************** */

.top-contribution {position: relative; display: flex; float:right; margin-top: 1rem;}
/* .coc-page-header a{float:right; background-color: tomato;
} */
.coc-page-header{ margin-top: 4rem;}

@media screen and (max-width: 950px) { .coc-page-header{margin-top: 1rem;}}


/* .side-menu { 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    border: 2px solid #111111; 
    border-radius: 5px;
    box-shadow: -10px 10px  #0BA687;
    margin: 20px 0px 20px 0px;
    background-color: #FFFFFF;
    height: 1100px;
  
} */
/* ********************************** */
/* coc side menu */
.side-menu  { background-color: #FFFFFF; max-width: 350px; max-width: -webkit-calc(350px - (30px * 2)); max-width: calc(350px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; border: 2px solid #111111; border-radius: 5px; box-shadow: -10px 10px  #0BA687; margin-top: 20px; height: 1000px; }


/* navigation links */

.button_coc_side_nav{width: 100%; text-align: left;}

.coc_nav_section a{ width: 100%; display: inline-block; margin: 1.5rem 0rem 1.5rem 0px;}

@media screen and (max-width: 950px) {.coc_nav_section a{margin: .75rem 0rem .75rem 20px; width: 80%; }}


.side-site-nav{ float: right; line-height: 0px;     height: 1100px;
    height: auto; }

.side-site-nav .side-nav-trigger { display: none;}

.side-site-nav .side-menu-icon { display: none; }

.side-site-nav .side-page-link { color: #666666; line-height: 0;}

.side-site-nav .side-page-link:not(:last-child) { 
    margin-left: 22px;
}

.side-site-nav a:hover{color: #111111; text-decoration: none;}

@media screen and (max-width: 950px) { 
.coc_page_section {
    flex-direction: column;
}
.side-menu {
    /* background-color: none; */
    box-shadow: none;
    border: none; 
    height: auto;  
    /* background-color: #0BA687;  */
    padding-right: 0px; 
    padding-left: 0px; 
    margin-left: 20px;
    position: relative; top: 5px; left: 0px; 
}
.coc_nav_section{ padding: 20px 10px;}

.side-site-nav { 
    /* margin-right: 15px; */
    /* position: relative; top: 0px; left: 0px;  */
    background-color: #FFFFFF; border: 1px solid #FFFFFF; border-radius: 5px; text-align: left;  
}

/* .side-menu  { 
    max-width: -webkit-calc(800px - (30px)); 
    max-width: calc(800px - (30px)); 
    padding-right: 15px; 
    padding-left: 15px; }  */


.side-site-nav label[for="side-nav-trigger"] { 
    float: left;
    z-index: 2; 
    cursor: pointer;
    margin-bottom: 10px;
} 
   
.side-site-nav .side-menu-icon {display: block;  width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center;} 
.side-site-nav .side-menu-icon > svg { fill: #424242; } 
.side-site-nav input ~ .trigger { clear: both; display: none;} 

.side-site-nav input:checked ~ .trigger {
    display: block; 
    padding-bottom: 5px; 
    /* background-color: aquamarine; */
    border: 2px solid #111111;
    width: 85vw;
} 

.side-site-nav {
    /* background-color: brown; */
    position: relative;
    float: left;
    width: 100%;
}
.side-site-nav .side-page-link { display: block; padding: 20px 10px; margin-right: 20px;} 
.side-site-nav .side-page-link:not(:last-child) { margin-right: 0;} 

.side-menu-icon {position: relative; 
    border: 2px solid #111111;
    /* border: 2px dashed #0BA687;  */
    border-radius: 5px; padding: .50rem 6rem .50rem  .50rem ;}

.side-menu-icon:hover{ 
    box-shadow: -10px 10px  #0BA687;
    /* box-shadow: -5px -5px 5px #FFFFFF, 5px 5px 5px #c4c4c4;  */
    /* transition: .50s; */
}
/* ******************CHECK content text************* */
.content-nav { position: absolute; top: -18px; left: 50px; }

}
/* ********************************** */
/* coc page bottom navigation */
.next-previous-div{position: relative; display: flex; justify-content: space-between; margin: 20px; margin-top: 4rem;}
.next-previous-links{ padding: 10px; border: 2px dashed #0BA687; border-radius: 5rem;}
.next-previous-links:hover{ 
    box-shadow: -5px 5px  #0BA687;
    /* box-shadow: -5px -5px 5px #FFFFFF, 5px 5px 5px #c4c4c4;  */
    /* transition: .50s;  */
    text-decoration: none; border-color: #15816B; }

.contribution-section{position: relative; display: flex; flex-direction: column; align-items: center;
    margin: 20px 100px;}

/* contribution section */
.contribution-button{
padding: 2rem 4rem; border-radius: 5px; border: 2px solid #111111; 
}
.contribution-button:hover{ box-shadow: -10px 10px  #0BA687;}

.contribution-text{margin: 36px 0px; text-align: center;}

/* ********************************** */
/* Wrapper Content */

.content-wrapper { 
    max-width: 1200px;
    max-width: -webkit-calc(1200px - (30px * 2)); 
    max-width: calc(1200px - (30px * 2)); 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 30px; 
    padding-left: 30px; 
    /* background-color: aquamarine; */
}

@media screen and (max-width: 800px) { 
    .content-wrapper { 
    max-width: -webkit-calc(800px - (30px)); 
    max-width: calc(800px - (30px)); 
    padding-right: 15px; 
    padding-left: 15px; } }

/* ********************************** */

/* home */

/* home button */
.cover-section{position: relative; display: flex; flex-direction: column; align-items: center;
 text-align: center; padding: 4rem 0rem; }

.home-button{margin: 2rem 0rem; border-radius: 5px; border: 2px solid #111111; 
// box-shadow: -5px 5px 10px  rgb(231, 231, 231); 
box-shadow: -10px 10px  #0BA687;
}
.home-button a{text-decoration: none;}

.home-button:hover{ box-shadow: -5px 5px 10px  rgb(231, 231, 231); 
    // background: #FEFEFA;
    // box-shadow: 0px 0px  #FFFFFF;
     transition: .20s;}

.home-button-text{text-align: center; padding: 1.5rem 4rem;}

hr{border-radius: 5px; border: 1px dashed #0BA687;}

.introduction-text-section{ 
    max-width: 800px;
    max-width: -webkit-calc(800px - (30px * 2)); 
    max-width: calc(800px - (30px * 2)); 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 30px; 
    padding-left: 30px;
    padding-bottom: 5rem; 
    /* background-color: aquamarine; */
}


.introduction-text-section{
    border-radius: 5px; border: 2px solid #111111;
      // box-shadow: -10px 10px  #0BA687;
    // padding: 2rem; margin-bottom: 5rem;

    // transform: skew(-10deg);
}

// .eliminate-skew{
//     background-color: #52daa6;
//     margin:1rem;
//     transform: skew(none);
// }
.other-groups-section{position: relative; display: flex; justify-content: space-evenly; margin: 20px 0px;}
.groups{width: 250px; padding: 20px; margin: 0px 20px;}
.groups:hover{border-radius: 5px; box-shadow: -10px 10px  #798AF7; transition: .1s; background-color: honeydew;}

.reading-list-section{position: relative; display: flex; justify-content: space-evenly; margin: 20px 0px;}
.reading-list-text{width: 50%; padding: 8rem;}
.books-list{width: 50%;}
/* .books-list a{background-color: cornflowerblue;} */
.books-list p{line-height: 1rem;}
.books{margin-top: 2.5rem;}

@media screen and (max-width: 800px) { 
    .introduction-text-section { 
    max-width: -webkit-calc(800px - (30px)); 
    max-width: calc(800px - (30px)); 
    padding-right: 15px; 
    padding-left: 15px; } 

    .other-groups-section {flex-direction:column; align-items: center;}
    .groups{width: 70%;}
    .reading-list-section{flex-direction:column; align-items: center;}
    
}



/* FOOTER */
/* background-color: #ECECEC; */
footer{
    /* background-color: #0BA687; */
    background-color: #EFEFEF; 
    position: relative; bottom:0px; right: 0px; left:0px;}
.footer { display: flex; flex-direction:row; justify-content: space-around; padding: 5rem 2rem;}
.logo_image { width: 200px;}
@media screen and (max-width: 800px) { .footer { flex-direction:column;}}

/* COMMUNITY */
.minimal-page-style{
    // background-color: blueviolet;
}
// .community-header{
//     background-color: goldenrod;
//     height: 200px;
//     width: 100%;
//     margin: 1rem 0rem;
//     box-shadow: -10px 10px  rgba(0,0,0, 7);
// }

img{width: 100%;}

.contributors-list{
    display: flex;
    position: relative;
    flex-direction:row;
    justify-content: space-evenly;
}
/* Glossary*/
input[type='checkbox'] { display: none; } 
.wrap-collabsible { margin: 1.2rem 0; } 
.lbl-toggle { 
    display: block; 
    // font-weight: bold; 
    // font-family: monospace; 
    // font-size: 1.2rem; 
    // text-transform: uppercase; 
    // text-align: center; 
    padding: 1rem; 
    // color: #111; 
    // background: #FFFFFF; 
    cursor: pointer; 
    width: 20%;
    // border-radius: 7px; 
    // border: 2px dashed #0BA687;
    transition: all 0.25s ease-out;
    margin-bottom: 2rem; 

    border: 2px solid #111111; 
    border-radius: 5px; 
    box-shadow: -10px 10px  #0BA687;
    } 
    .lbl-toggle:hover { 
        box-shadow: 0px 0px  #FFFFFF;
        transition: .50s; 
        // color: #FFF;
     } 

    .lbl-toggle::before { content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; } 
    .toggle:checked+.lbl-toggle::before { 
        transform: rotate(90deg) translateX(-3px); } 
        .collapsible-content { max-height: 0px; 
            overflow: hidden; 
            transition: max-height .25s ease-in-out; } 
            .toggle:checked + .lbl-toggle + .collapsible-content 
            { max-height: 350px; } .toggle:checked+.lbl-toggle { 
                border-bottom-right-radius: 0; border-bottom-left-radius: 0; } 
                .collapsible-content .content-inner { 
                    background: #FEFEFA;
                    border: 1px dashed #0BA687;
                    box-sizing: border-box;
                    box-shadow: 0px 5px 12px 5px rgba(242, 234, 223, 0.5);
                    border-radius: 5px;

                    // background: rgba(0, 105, 255, .2); 
                    // border-bottom: 1px solid rgba(0, 105, 255, .45); 

                    // border-bottom-left-radius: 7px; 
                    // border-bottom-right-radius: 7px; 
                    padding: .5rem 1rem; } .collapsible-content p { margin-bottom: 0; }

/* GENERAL PAGES */

.page-header{
    background-color: goldenrod;
    height: 200px;
    width: 100%;
    margin: 2rem 1rem;
    box-shadow: -10px 10px  rgba(0,0,0, 7);
}

