---
---

@import "minima";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ============
Table of Contents
1. global styles 
2. typography
3. components
    3.1 links a
    3.2 buttons
    3.3 mark
4. header
5. footer
6. homepage
7. code-of-conduct
    7.1 side-content-navigation
    7.2 buttons-code-of-conduct-page
8. community
9. glossary
10. getting-help
11. get-involved
============ */

/* ============
1. global styles 
============ */

/* Body */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px/1.5;
    font-weight: 400;
    background-color: #FFFFFF;
    margin: auto;
    text-align: left;
    color: #111;

    -webkit-text-size-adjust: 100%; 
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1; 
    -o-font-feature-settings: "kern" 1; 
    font-feature-settings: "kern" 1; 
    font-kerning: normal; 
    display: flex; 
    min-height: 100vh; 
    flex-direction: column;
}

/** `main` element */
main { 
    display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

// header in pages
.page-header{
    height: 50px;
    width: 100%;
    margin: 2rem 0rem 4rem 0rem;    
    background-size: 30px 30px;
    background-image: radial-gradient(circle, #A5FFD9 2px, rgba(0, 0, 0, 0) 1px);
}

.minimal-page-style{
    // background-color: blueviolet;
    }
    
img{
    width: 100%;
}

/* ============
2. typography
============ */

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { 
    margin-bottom: 15px;
    line-height: 2rem;
}

h5{
    font-weight: 700;
    font-size: 1rem;
}

// contributors font
.img-text{
font-weight: 700;
}

.header-text h1{
    font-weight: 700;
    font-size: 2rem;
}
.header-text h3{
    font-weight: 600;
    color: #111;
}
.header-text p{
    font-weight: 400;
    padding: 0rem 2rem;
    margin: 0rem 6rem;
    // background-color: indianred;
}

@media screen and (max-width: 1200px) {
    .header-text p{
        font-weight: 400;
        padding: 0rem 1rem;
        margin: 0rem 1rem;
    }
}

@media screen and (max-width: 800px) {
    .header-text p{
        font-weight: 400;
        padding: 0rem 1rem;
        margin: 0rem 1rem;
    }
}


/* ============
3. components
============ */
hr{
    border-radius: 5px; 
    border: 1px dashed #A5FFD9;
}


/* ============
3.1 links a
============ */
a { 
    color: #111; 
    text-decoration: none; 
}

a:visited { 
    color: #111; 
}

a:hover { 
    color: #111; 
    text-decoration: underline; 
}


/* ============
3.2 buttons
============ */

button { 
    font-size: 100%; 
    font-family: inherit; 
    border: 0; 
    padding: 0; 
    cursor: pointer; 
    background-color: transparent;
}

.home-button{
    margin: 2rem 0rem; 
    border-radius: 5px; 
    border: 1px solid #111111; 
    box-shadow:-10px 10px #000; 
    padding: 1.5rem 0rem;

    -webkit-transition: all .2s ease; 
    -moz-transition: all .2s ease; 
    -o-transition: all .2s ease; 
    -ms-transition: all .2s ease; 
    transition: all .2s ease; 
}

.home-button a{
    text-decoration: none;
}

.home-button:hover{ 
    box-shadow: -5px 5px 10px  rgb(231, 231, 231); 
    transform: scale(1.15); 
    background: #58f49f;
}

.home-button:hover a{ 
  font-weight: 700;
}

.home-button-text{
    text-align: center; 
    padding: 1.5rem 4rem;
}

@media screen and (max-width: 500px) {
    .home-button{
        padding: 1.5rem 1rem;
    } 

    .home-button-text{
        padding: 1.5rem .50rem;
    }
}


/* ============
3.3 mark
============ */

mark{ 
    background: #58f49f;
    padding:3px;
}


/* ============
4. header
============ */

.site-header { 
    position: relative; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 100; 
    border-bottom: 1px solid #EFEFEF; 
    min-height: 55.95px; 
    position: relative; 
    padding: 1rem 1.5rem; 
    box-shadow: 10px 10px 10px 4px rgba(0, 0, 0, 0.1) 
}

.icon_logo_itp{
    width: 40px; 
    margin-right: 10px;
}

.icon_logo_code{
    width: 50px; 
    margin-right: 10px;
}

.first-header-sec{ 
    position: relative; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;
}

.site-title { 
    font-size: 24px; 
    font-weight: 300; 
    line-height: 54px; 
    letter-spacing: -1px; 
    margin-bottom: 0; 
    float: left; 
}

.site-title, .site-title:visited { 
    color: #424242; 
}

.site-title:hover{
    color: #111; 
    text-decoration: none;
}

.site-nav { 
    float: right; 
    line-height: 54px; 
}

.site-nav .nav-trigger { 
    display: none;
}

.site-nav .menu-icon { 
    display: none; 
}

.site-nav .page-link { 
    color: #111; 
    line-height: 1.5;
}

.site-nav .page-link:not(:last-child) { 
    margin-right: 20px; 
}

.site-nav a{
    margin: .50rem;
    padding: .50rem;
    color: #111;
    border: 1px solid transparent;
    border-radius: 7px;
}

.site-nav a:hover{
    text-decoration: none;
    background: rgb(88, 244, 159);
    border: 1px solid #111;
    transition: 0.20s;
}

@media screen and (max-width: 900px) { 
    .site-nav { 
        position: absolute; 
        top: 25px; right: 15px; 
        background-color: #FFFFFF; 
        border: 1px solid #FFFFFF; 
        border-radius: 5px; 
        text-align: right; 
    } 

    .site-nav label[for="nav-trigger"] { 
        display: block; 
        float: right; 
        width: 36px; 
        height: 36px; 
        z-index: 2; 
        cursor: pointer; 
    } 

    .site-nav .menu-icon { 
        display: block; 
        float: right; 
        width: 36px; 
        height: 26px; 
        line-height: 0; 
        padding-top: 10px; 
        text-align: center; 
    } 

    .site-nav .menu-icon > svg { 
        fill: #424242; 
    } 

    .site-nav input ~ .trigger { 
        clear: both; 
        display: none; 
    } 

    .site-nav input:checked ~ .trigger { 
        display: block; 
        padding-bottom: 5px; 
    } 

    .site-nav .page-link { 
        display: block; 
        padding: 5px 10px; 
        margin-left: 20px; 
    } 

    .site-nav .page-link:not(:last-child) { 
        margin-right: 0; 
    } 
}
    

/* ============
5. footer
============ */

footer{
    margin-top: 5rem;
    background-color: #f5f5f5; 
    position: relative; 
    bottom:0px; 
    right: 0px; 
    left:0px;
}

.footer { 
    display: flex; 
    flex-direction:row; 
    justify-content: center; 
    padding: 5rem 2rem; 
}

.logo_image { 
    width: 200px;
    height: auto;
}

.footer-sub-sections{
    display: flex; 
    flex-direction:row; 
    justify-content: center;
    margin: auto 4rem;
}

.footer-sub-sections-links{
    margin: 0rem 4rem;    
}

@media screen and (max-width: 800px) { 
    .footer { 
        flex-direction:column;
    }

    .footer-sub-sections-links{
        margin: 4rem 1rem; 
    }
    .logo_image { 
        width: 100px; 
        height: 90px;
    }
}

@media screen and (max-width: 500px) { 
    .footer-sub-sections{
        margin: 1rem;
    }
}
    

/* ============
6. homepage
============ */

.img-cover{
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 100;
    margin: 0px;
}

.img-cover img{
    width: 100px;
    height: auto;
}

.cover-section{
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center; 
    margin: 4rem 8rem;
    border-radius: 20px;
    border: solid;
    border: 3px solid #111111;
    background-color: #5896f4;
}

.sub-cover-section{
    margin: 2rem;
    padding: 2rem; 
    border-radius: 20px;
    border: solid;
    border: 2px solid #111111;
    background-color: #FFFFFF;
}

.introduction-text-section{ 
    max-width: 800px;
    max-width: -webkit-calc(800px - (30px * 2)); 
    max-width: calc(800px - (30px * 2)); 
    margin: 4rem auto;
    padding: 5rem;
}

.introduction-text-section{
    border-radius: 20px; 
    border: 2px solid #111111;
    background-size: 30px 30px;
    background-image: radial-gradient(circle, #A5FFD9 1.5px, rgba(0, 0, 0, 0) 1px);
}

.other-groups-section{
    position: relative; 
    display: flex; 
    justify-content: space-evenly; 
    margin: 3rem 0rem;
    padding: 2rem 0rem;
}

.groups{
    width: 250px; 
    padding: 20px; 
    margin: 0px 20px;
    border-radius: 5px; 
    box-shadow: -10px 10px #111; 
    transition: .1s; 
    border-radius: 5px; 
    border: 2px solid #111111;
}

.groups:hover{
    transition: .1s; 
    box-shadow: 0px 0px; 
    transition: .2s; 
    transform: scale(1.05); 
}

.name-group{
    margin-top: 20px;
}

.reading-list-section{
    position: relative; 
    display: flex; 
    justify-content: space-evenly; 
    margin: 3rem 0px;
}

.reading-list-text{
    width: 50%; 
    padding: 8rem;
}

.books-list{
    width: 50%;
}

.books-list p{
    line-height: 1rem;
}

.books{
    margin-top: 2.5rem;
}

@media screen and (max-width: 1200px) {.groups{width:30%} }
@media screen and (max-width: 800px) { 

    .cover-section{
        margin: 1rem 0rem;
        border: hidden;
        border: 1px solid #111111;
    }

    .sub-cover-section{
        margin: 1rem 0rem;
        padding: 0rem; 
        border: hidden;
        border: 1px solid #111111;
    }

    .introduction-text-section { 
        width: 80%;
        padding-right: 15px; 
        padding-left: 15px; 
    } 

    .other-groups-section {
        flex-direction:column; 
        align-items: center;
    }

    .groups{
        width: 80%; 
        margin: 2rem auto;
    }

    .reading-list-section{
        flex-direction:column; 
        align-items: center;
        align-items: center;
        width: 90%;
        margin: auto;
    }

    .reading-list-text{
        width: 100%; 
        padding: 0rem;
    }

    .books-list{
        width: 100%; 
        padding: 0rem; 
    }

    .img-cover{
        visibility: hidden;
    }

    .img-cover img{
        visibility: hidden;
    }
}


/* ============
7. code-of-conduct
============ */

.coc_page_section { 
    margin-top:3rem; 
    position: relative; 
    display: flex; 
    flex-direction: row;
}

.container_coc { 
    max-width: 1000px;
    max-width: -webkit-calc(1000px - (30px * 2)); 
    max-width: calc(1000px - (30px * 2)); 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 30px; 
    padding-left: 30px; 
}

.coc-page-header{ 
    margin-top: 4rem;
}

/* Wrapper Content */

.content-wrapper { 
    max-width: 1200px;
    max-width: -webkit-calc(1200px - (30px * 2)); 
    max-width: calc(1200px - (30px * 2)); 
    margin-right: auto; 
    margin-left: auto; 
    padding-right: 30px; 
    padding-left: 30px; 
}
    
@media screen and (max-width: 800px) { 
    .content-wrapper { 
        width: 75%;
        padding-right: 15px; 
        padding-left: 15px;     
    } 
}

@media screen and (max-width: 500px) { 
    .content-wrapper { 
        width: 90%;
        padding-right: 5px; 
        padding-left: 5px;     
    } 
}

@media screen and (max-width: 950px) {
    .coc-page-header{
        margin-top: 1rem;
    } 
    .trigger{
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 800px) { 
    .container_coc { 
        max-width: -webkit-calc(800px - (30px)); 
        max-width: calc(800px - (30px * 2)); 
        padding-right: 15px; 
        padding-left: 15px; 
    } 
}

@media screen and (max-width: 400px) { 
    .container_coc { 
        width: 90%;
        padding: 5px;
    } 
}


/* ============
7.1 side-content-navigation
============ */

/* coc side menu */
.side-menu  { 
    background-color: #FFFFFF; 
    border: 2px solid #111111; 
    border-radius: 5px; 
    max-width: 350px; 
    max-width: -webkit-calc(350px - (30px * 2)); 
    max-width: calc(350px - (30px * 2)); 
    margin-right: auto;
    margin-left: auto; 
    margin-top: 40px; 
    padding-right:30px; 
    padding-left: 30px; 
    height: 1000px; 
}

/* navigation links */

.button_coc_side_nav{
    width: 100%; 
    text-align: left;
}

.coc_nav_section a{ 
    width: 100%; 
    display: inline-block; 
    margin: 1.5rem 0rem 1.5rem 0px;
}

@media screen and (max-width: 950px) {
    .coc_nav_section a{
        margin: .75rem 0rem .75rem 20px; 
        width: 80%; 
    }
}

.side-site-nav{ 
    float: right; 
    line-height: 0px;     
    height: 1100px;
    height: auto; 
}

.side-site-nav .side-nav-trigger { 
    display: none;
}

.side-site-nav .side-menu-icon { 
    display: none; 
}

.side-site-nav .side-page-link { 
    line-height: 0;
    white-space: nowrap;
}

.side-site-nav .side-page-link:not(:last-child) { 
    margin-left: 22px;
}

.side-site-nav a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 500px) { 
    .side-page-link { 
        font-size: .90rem;
        white-space: nowrap;
        line-height: 20px;
    }
}


@media screen and (max-width: 950px) { 

    .coc_page_section {
        flex-direction: column;
    }

    .side-menu {
        box-shadow: none;
        border: none; 
        height: auto;  
        padding-right: 0px; 
        padding-left: 0px; 
        margin-left: 0px;
        position: relative; top: 5px; left: 0px; 
    }

    .coc_nav_section{ 
        padding: 20px 10px;
    }

    .side-site-nav { 
        background-color: #FFFFFF; 
        border: 1px solid #FFFFFF; 
        border-radius: 5px; 
        text-align: left;  
    }

    .side-site-nav label[for="side-nav-trigger"] { 
        float: left;
        z-index: 2; 
        cursor: pointer;
        margin-bottom: 10px;
    } 

    .side-site-nav .side-menu-icon {
        display: block;  
        width: 36px; 
        height: 26px; 
        line-height: 0; 
        padding-top: 10px; 
        text-align: center;
    } 

    .side-site-nav .side-menu-icon > svg { 
        fill: #424242; 
    } 

    .side-site-nav input ~ .trigger { 
        clear: both; 
        display: none;
    } 

    .side-site-nav input:checked ~ .trigger {
        display: block; 
        padding-bottom: 5px; 
        border: 2px solid #111111;
        width: 85vw;
    } 

    .side-site-nav {
        position: relative;
        float: left;
        width: 100%;
    }

    .side-site-nav .side-page-link { 
        display: block; 
        padding: 20px 10px; 
        margin-right: 20px;
    } 

    .side-site-nav .side-page-link:not(:last-child) { 
        margin-right: 0;
    } 

    .side-menu-icon {
        position: relative; 
        border: 2px solid #111111;
        box-shadow: -5px 5px  #111; 
        border-radius: 5px; 
        padding: .50rem 6rem .50rem  .50rem;
        margin: 0rem 1rem 1rem 1rem;
    }

    .side-menu-icon:hover{ 
        box-shadow: 0px 0px #111; 
        background-color: #58f49f;
        transition: .50s;
    }

    .side-menu-icon:active{ 
        background-color:  #111; 
    }

    .content-nav { 
        position: absolute; 
        top: 5px; 
        left: 50px; 
    }
}

@media screen and (max-width: 400px) { 
    .side-menu-icon {
        margin: 0rem 1rem 1rem 1rem;
    }
}


/* ============
7.2 buttons-code-of-conduct-page
============ */

.top-contribution {
    position: relative; 
    display: flex; 
    float:right; 
    margin: 1rem;
}

@media screen and (max-width: 400px) {
    .top-contribution{
        margin: 1rem 0rem 1rem 1rem;
    }
}

/* coc page bottom navigation */
.next-previous-div{
    position: relative; 
    display: flex; 
    justify-content: space-between; 
    margin: 20px; 
    margin-top: 4rem;
}


.next-previous-links{ 
    padding: 10px 20px; 
    border: 2px dashed #111; 
    border-radius: 2rem; 
    box-shadow: -5px 5px  #111;
}

.next-previous-links:hover{ 
    box-shadow: 0px 0px  #111;
    background-color: #5896f4;
    transition: .50s; 
    text-decoration: none; 
    border: 2px solid #111; 
}


/* ============
8. community
============ */

.contributors-list{
    display: flex;
    position: relative;
    flex-direction:row;
    justify-content: space-evenly;
}

.contributors{
    margin: 2rem;
    width: 20%;
}

.image-person{
    border-radius: 5px;
    margin: 1rem auto;
}

@media screen and (max-width: 800px) { 
    .contributors{
        margin: 1rem;
        width: 15%;
    }
}

@media screen and (max-width: 400px) { 
    .contributors{
        margin: 1rem auto;
        width: 50%;
    }
    .contributors-list{
        flex-direction:column;
    }
}

/* ============
9. glossary
============ */

input[type='checkbox'] { 
    display: none; 
} 

.wrap-collabsible { 
    margin: 1.2rem 0; 
} 

.lbl-toggle { 
    display: block; 
    padding: 1rem; 
    cursor: pointer; 
    width: 20%;
    transition: all 0.25s ease-out;
    margin-bottom: 2rem; 
    border: 2px solid #111111; 
    border-radius: 5px; 
    box-shadow: -10px 10px  #111;
} 

.lbl-toggle:hover { 
    box-shadow: 0px 0px  #FFFFFF;
    transition: .50s; 
} 

.lbl-toggle::before { content: ' '; 
    display: inline-block; 
    border-top: 5px solid transparent; 
    border-bottom: 5px solid transparent; 
    border-left: 5px solid currentColor; 
    vertical-align: middle; 
    margin-right: .7rem; 
    transform: translateY(-2px); 
    transition: transform .2s ease-out; 
} 

.toggle:checked+.lbl-toggle::before { 
    transform: rotate(90deg) translateX(-3px); 
} 

.collapsible-content { 
    max-height: 0px; 
    overflow: hidden; 
    transition: max-height .25s ease-in-out; 
} 

.toggle:checked + .lbl-toggle + .collapsible-content { 
    max-height: 350px; 
} 

.collapsible-content .content-inner { 
    border: 1px solid #111;
    box-sizing: border-box;
    border-radius: 5px;
    padding: .5rem 1rem; 
} 

.collapsible-content p{ 
    margin: 0px; 
    padding: 10px;
    font-weight: 300;
    font-size: .90rem;
}

@media screen and (max-width: 800px) {
    .lbl-toggle { 
        width: 50%;
    }
}
@media screen and (max-width: 400px) {
    .lbl-toggle { 
        width: 70%;
    }
}


/* ============
10. getting-help
============ */

/* ============
11. get-involved
============ */





