---
layout: header-footer
---

<div class="minimal-page-style">
    <header class="page-header"></header>

    <div id="community-content">
        {{ content }}
    </div>

    <div id="contributors-section">
        <div id="contributors-text">
            <h1>Contributors List</h1>
            <p>Thanks goes to these wonderful people (emoji key):</p>
        </div>

        <div class="contributors-list">
            <div class="contributors">
                <img src="pic_trulli.jpg" alt="Italian Trulli" class="image-person">
                <p class="img-text">Name</p>
            </div>
            <div class="contributors">
                <img src="pic_trulli.jpg" alt="Italian Trulli" class="image-person">
                <p class="img-text">Name</p>
            </div>
            <div class="contributors">
                <img src="pic_trulli.jpg" alt="Italian Trulli" class="image-person">
                <p class="img-text">Name</p>
            </div>
            <div class="contributors">
                <img src="pic_trulli.jpg" alt="Italian Trulli" class="image-person">
                <p class="img-text">Name</p>
            </div>
        </div>

        <div class="contributors-list">
            <div class="contributors">
                <img src="pic_trulli.jpg" alt="Italian Trulli" class="image-person">
                <p class="img-text">Name</p>
            </div>
            <div class="contributors">
                <img src="pic_trulli.jpg" alt="Italian Trulli" class="image-person">
                <p class="img-text">Name</p>
            </div>
            <div class="contributors">
                <img src="pic_trulli.jpg" alt="Italian Trulli" class="image-person">
                <p class="img-text">Name</p>
            </div>
            <div class="contributors">
                <img src="pic_trulli.jpg" alt="Italian Trulli" class="image-person">
                <p class="img-text">Name</p>
            </div>
        </div>



    </div>
</div>


<!-- <div class="minimal-page-style">
    <h1>This is the Page Community</h1>
    <hr>
    {{ content }}
</div> -->