---
layout: header-footer
---

<div class="minimal-page-style">
  <header class="page-header"></header>

  <div id="community-content">{{ content }}</div>

  <!--
  <div id="contributors-section">
    <div id="contributors-text">
      <h1>Contributors List</h1>
    </div>

    <div class="contributors-list">
      <div class="contributors">
        <img src="assets/contributors/ashley.png" alt="Picture of a person smiling." class="image-person" />
        <a href="https://ashleyjanelewis.com/" target="_blank" class="img-text">🖋 Ashley Jane Lewis</a>
      </div>
      <div class="contributors">
        <img
          src="assets/contributors/lydia.jpeg"
          alt="Picture of a person sitting and smiling in a room full of painted multicolor circles."
          class="image-person"
        />
        <a href="https://github.com/lydiajessup" target="_blank" class="img-text"> 🖋 Lydia Jessup</a>
      </div>
      <div class="contributors">
        <img src="assets/contributors/veroalfaro.png" alt="Picture of a person smiling." class="image-person" />
        <a href="https://github.com/veroalfaro" target="_blank" class="img-text">🖋 veroalfaro</a>
      </div>
      <div class="contributors">
        <img src="assets/contributors/rothberg.jpeg" alt="Image of a dog with a funny haircut." class="image-person" />
        <a href="https://github.com/sarahrothberg" target="_blank" class="img-text">🖋 🤔 ROTHBERG</a>
      </div>
    </div>

    <div class="contributors-list">
      <div class="contributors">
        <img
          src="assets/contributors/daniel.png"
          alt="Picture of a person smiling and with hands extended to the air."
          class="image-person"
        />
        <a href="https://shiffman.net/" target="_blank" class="img-text">📆 Daniel Shiffman</a>
      </div>
      <div class="contributors">
        <img src="assets/contributors/rios.jpeg" alt="Picture of a face, in black and white." class="image-person" />
        <a href="https://github.com/RiosITP" target="_blank" class="img-text">🖋 RiosITP</a>
      </div>
      <div class="contributors">
        <img
          src="assets/contributors/matt.png"
          alt="Digital illustration of a body in multiple colors with a skull."
          class="image-person"
        />
        <a href="https://matt-romein.com/" target="_blank" class="img-text">🖋 Matt Romein</a>
      </div>
      <div class="contributors">
        <img src="assets/contributors/luisa.jpeg" alt="Picture of a person smiling." class="image-person" />
        <a href="https://www.luisapereira.net/" target="_blank" class="img-text">🖋 Luisa Pereira</a>
      </div>
    </div>
  </div>
  -->
</div>
