---
layout: header-footer
---

<section class="coc_page_section">

    <header class="side-menu" role="banner">
  
      <nav class="side-site-nav">
  
        <input type="checkbox" id="side-nav-trigger" class="side-nav-trigger" />
        <label for="side-nav-trigger">
          <span class="side-menu-icon">
            <!-- <svg viewBox="0 0 20 20" width="20px" height="20px" stroke="green">
                            <line x1="2" y1="10" x2="18" y2="10" stroke-width="4" stroke-linecap="round"/>
                            <line x1="10" y1="2" x2="10" y2="18" stroke-width="4" stroke-linecap="round"/>
                          </svg> -->
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path
                d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z" />
            </svg>
            <h1 class="content-nav">Content</h1>
          </span>
        </label>
  
        <div class="trigger">
          <div class="coc_nav_section">
            <button class="button_coc_side_nav"><a href="./community_statement"><b> 🌎 Community Statement</b></a></button>
  
            <a class="side-page-link" href="./community_statement#solidarity">Solidarity</a>
            <a class="side-page-link" href="./community_statement#international">International</a>
            <a class="side-page-link" href="./community_statement#land_acknowledgement">Land Acknowledgement</a>
            <a class="side-page-link" href="./community_statement#privilege">Privilege</a>
            <a class="side-page-link" href="./community_statement#technology">Technology</a>
            <a class="side-page-link" href="./community_statement#footnotes">Footnotes</a>
  
            <button class="button_coc_side_nav"><a href="./rules_of_play"><b>🌈 Rules of Play</b></a></button>
  
            <a class="side-page-link" href="./rules_of_play#Aspirational">Aspirational</a>
            <a class="side-page-link" href="./rules_of_play#Practical">Practical</a>
            <a class="side-page-link" href="./rules_of_play#Unacceptable">Unacceptable</a>
            <a class="side-page-link" href="./rules_of_play#Responsibilities_and_Commitments">Responsibilities and Commitments</a>
  
  
            <button class="button_coc_side_nav"><a href="./usage_of_technology"><b>💻 Usage of Technology</b></a></button>
  
            <button class="button_coc_side_nav"><a href="./development"><b> 🚧Development of Code of Conduct</b></a></button>
            <a class="side-page-link" href="./development#developing_and_growing">Developing and Growing</a>
  
            <button class="button_coc_side_nav"><a href="./attribution"><b>🔗 Attribution</b></a></button>
          </div>
  
        </div>
  
      </nav>
    </header>
  
    <div class="container_coc">
   
      <div class="top-contribution"><a class="next-previous-links" href="https://github.com/ITPNYU/ITP-IMA-Code-of-Conduct">Propose a Change</a></div>
  
      <div class="coc-page-header"></div>
   
      {{ content }}
  
    </div>
  
  </section>