---
layout: header-footer
---

<!-- Header -->
<header class="cover-section">
    <div class="sub-cover-section">
        <div class="img-cover">
            <img src="assets/sun-04.png" alt="">
        </div>
        <div class="header-text">
            <h3>{{ page.header-text-h3 }}</h3>
            <h1>{{ page.header-text-h1 }}</h1>
            <p>{{ page.header-text-p }}</p>
        </div>
        <button class="home-button"><a href="./community_statement" class="home-button-text">
                {{ page.header-text-button }}
            </a></button>
    </div>
</header>

<!-- Introduction -->
<div class="introduction-text-section">
    {{ content }}
</div>


<!-- Other Groups and Community -->
<div class="other-groups-section">

    <div class="groups">
        <a href="" target="_blank">
            <div class="img-group">
                <img src="assets/other1.png" alt="">
            </div>
            <h2 class="name-group">{{ page.group-h-1 }}</h2>
            <p class="info-group">{{ page.group-p-1 }}</p>
        </a>
    </div>
    <div class="groups">
        <a href="https://itp.nyu.edu/groups/equitable/" target="_blank">
            <div class="img-group"><img src="assets/other2.png" alt=""></div>
            <h2 class="name-group">{{ page.group-h-2 }}</h2>
            <p class="info-group">{{ page.group-p-2 }}</p>
        </a>
    </div>
    <div class="groups">
        <a href="https://itp-techandsociety.github.io/online/" target="_blank">
            <div class="img-group"><img src="assets/other3.png" alt=""></div>
            <h2 class="name-group">{{ page.group-h-3 }}</h2>
            <p class="info-group">{{ page.group-p-3 }}</p>
        </a>
    </div>
</div>


<!-- Reading List -->
<!-- <hr> -->

<div class="reading-list-section">
    <div class="reading-list-text">
        <h2 class="name-reading">{{ page.reading-h }}</h2>
        <p class="info-reading">{{ page.reading-p }}</p>
    </div>
    <div class="books-list">
        <div class="books">
            <p><a href="https://design-justice.pubpub.org/"><b>Design Justice</b></a></p>
            <p><a href="http://schock.cc/">Sasha Costanza-Chock</a></p>
        </div>
        <div class="books">
            <p><a href="https://weaponsofmathdestructionbook.com/"><b>Weapons of Math Destruction</b></a></p>
            <p><a href="https://mathbabe.org/"> Cathy O'Neil</a></p>
        </div>
        <div class="books">
            <p><a href="https://www.ruhabenjamin.com/race-after-technology"><b>Race After Technology</b></a></p>
            <p><a href="https://www.ruhabenjamin.com/">Ruha Benjamin</a></p>
        </div>
        <div class="books">
            <p><a href=""><b>Data Feminism</b></a></p>
            <p><a href="http://www.kanarinka.com/">Catherine D’Ignazio</a> and <a href="https://lklein.com/">Lauren F.
                    Klein</a> </p>
        </div>
        <div class="books">
            <p><a href="https://nyupress.org/9781479837243/algorithms-of-oppression/"><b>Algorithms of Opression</b></a>
            </p>
            <p><a href="https://safiyaunoble.com/">Safiya Noble</a></p>
        </div>

    </div>
</div>